<h1>New Poll</h1><br />

<%= form_for(@poll) do |f| %>

    <p>
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => "Poll Name" %>
    </p>
    
    <p>
        <%= f.submit class: "btn btn-success btn-large" %>
    </p>
    
<% end %>